.header{font-family: 'Zen Kaku Gothic New', sans-serif;text-align: center}
    .header h1 {color:#2c9c8e;font-size:100px;}
    .header p {color:gray;font-size:30px;}

.main{font-family: 'M PLUS 1 Code', sans-serif;}
    .main h2 {color:black;font-size:50px;text-align: center}
    .main div {color:gray;font-size:20px;}
    .mian a {color:#478bff;font-size:20px;}
    .main p {color:gray;font-size:15px;}
        #q{color:#ffb357;font-size:30px}
        #a{color:#66a1ff;font-size:30px}
.center{style="text-align:center}
hr{color:gray;}
/*ボタン*/
.bn62 {
  color: #1cc49d;
  background-color: #1b2f31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
}
